<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fedisal - [Becarios]</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css" />
</head>
<body>
    <style type="text/css">
        .alertify-notifier .ajs-message.ajs-error{
            color: white;
        }
        .alertify-notifier .ajs-message.ajs-success{
            color: white;
        }
    </style>
    @if(Session["ID"] == null) {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Fedisal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio de Sesión", "Index", "Login")</li>
                    </ul>
                
                </div>
            </div>
        </div>
    }
    else
    {
    <style type="text/css">
    .navbar{
        background-color: #01579b;
    }
    a,a:hover,a:active{
        text-decoration: none;
        color: white;
    }
    </style>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="col-lg-4"><img src="~/Content/img/logo.png" width="47px" class="img-circle"></div>
                    <div class="col-lg-2">@Html.ActionLink("Fedisal", "Index", "Becario", new { area = "" }, new { @class = "navbar-brand" })</div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Notas <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver notas", "index", "Notas")</li>
                                <li>@Html.ActionLink("Registrar Nota", "create", "Notas")</li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Ciclos <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver ciclos", "index", "Ciclo")</li>
                                <li>@Html.ActionLink("Agregar ciclo", "create", "Ciclo")</li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Presupuestos <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Tu presupuesto", "index", "Presupuesto")</li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Desembolsos <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Tus Desembolsos", "index", "Desembolso")</li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Cuenta <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Editar Cuenta","Index","Usuarios")</li>
                                <li>@Html.ActionLink("Cerrar Sesión", "LogOut", "Login")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <style type="text/css">
        .jumbotron {
          padding: 30px;
          margin-bottom: 30px;
          font-size: 21px;
          font-weight: 200;
          line-height: 2.1428571435;
          color: inherit;
          background-color: #cfd8dc;
        }

        .jumbotron h2 {
          line-height: 1;
          color: #263238;
        }

        .jumbotron p {
          line-height: 1.4;
          color:#263238;
        }
        </style>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fedisal</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#DataTable').length > 0) {
                document.getElementById('theadPresupuesto').setAttribute("class", "btn-default white-text");
                $('#DataTable').DataTable({
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
            }
            if ($('#DataTableCiclo').length > 0) {
                document.getElementById('theadCiclos').setAttribute("class", "btn-default white-text");
                $('#DataTableCiclo').DataTable({
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
            }
            if ($('#DataTableNota').length > 0) {
                document.getElementById('theadNotas').setAttribute("class", "btn-default white-text");
                $('#DataTableNota').DataTable({
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                    ,"order": [[ 3, "desc"]]
                });
            } 
            if ($('#DataTableDesembolso').length > 0) {
                document.getElementById('theadDesembolso').setAttribute("class", "btn-default white-text");
                $('#DataTableDesembolso').DataTable({
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                    , "order": [[1, "desc"]]
                });
            }
        });
    </script>
    @RenderSection("scripts", required: false)
    
    @if (TempData["RegistroC"] != null)
    {
    <script>
            alertify.success("@TempData["RegistroC"]");
    </script>
    }
    @if (TempData["RegistroN"] != null)
    {
    <script>
            alertify.success("@TempData["RegistroN"]");
    </script>
    }
    @if (TempData["CambiarD"] != null)
    {
        <script>
            alertify.success("@TempData["CambiarD"]");
        </script>
    }
    @if (TempData["ErrorC"] != null)
    {
        <script>
            alertify.error("@TempData["ErrorC"]");
        </script>
    }
    @if (TempData["cambiarC"] != null)
    {
        <script>
            alertify.success("@TempData["cambiarC"]");
        </script>
    }
    @if (TempData["contrasennaE"] != null)
    {
        <script>
            alertify.success("@TempData["contrasennaE"]");
        </script>
    }
    @if (TempData["contrasennaF"] != null)
    {
        <script>
            alertify.error("@TempData["contrasennaF"]");
        </script>
    }
</body>
</html>
