@model IEnumerable<Fedisal_Becario.Models.InformacionPersonal>

@{
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fedisal - [Becarios]</title>
</head>
<body>
    <br />
    <div class="page-header">
        <h1 class="text-center">Datos Personales</h1>
    </div>

    <div class="jumbotron">
        <h2 class="text-center">Datos</h2>
        <p><b>@Html.DisplayNameFor(model => model.nombres): </b>@foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item.nombres)
        }</p>
        <p>
            <b>@Html.DisplayNameFor(model => model.apellidos): </b>
            @foreach (var item in Model)
            {
                @Html.DisplayFor(modelItem => item.apellidos)
            }
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.dui): </b>
            @foreach (var item in Model)
            {
                @Html.DisplayFor(modelItem => item.dui)
            }
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.fechaNacimiento):</b>
            @foreach (var item in Model)
            {
                @Html.DisplayFor(modelItem => item.fechaNacimiento)
            }
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.direccionResidencia):</b>
            @foreach (var item in Model)
            {
                @Html.DisplayFor(modelItem => item.direccionResidencia)
            }
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.telefono):</b>
            @foreach (var item in Model)
            {
                @Html.DisplayFor(modelItem => item.telefono)
            }
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.correoElectronico):</b>
            @foreach (var item in Model)
            {
                @Html.DisplayFor(modelItem => item.correoElectronico)
            }
        </p>
        <div class="row">
            <div class="col-md-5">&nbsp;</div>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <p><button class="btn btn-default btn-lg text-success">@Html.ActionLink("Modificar Datos", "Edit", new { id = item.idInformacion })</button></p>
                </div>
                <div class="col-md-3">
                    <p><button class="btn btn-default btn-lg text-success">@Html.ActionLink("Cambiar Contraseña", "Change", "Usuarios")</button></p>
                </div>
            }
        </div>
    </div>
</body>
</html>
